{% extends 'base.html' %}

{% block content %}
<form action='/newpost' method='post'>
    <h1 class="new_blog">Add a Blog Entry</h1>
    <label>Title for new blog:</label><br/>
    <input type="text" name="blog_title" value="{{blog_title}}"/><br/>
    <span class="error">{{title_error}}</span><br/> <br/>

    <label>Your new blog:</label><br/>
    <textarea name="blog_content" placeholder="Type your blog here...">{{blog_content}}</textarea><br/>
    <span class="error">{{content_error}}</span><br/><br/>

    <input type="submit" value="Add Entry" />

</form>

{% endblock %}